<!-- views/partials/header.ejs -->
<nav class="grey darken-4">
    <a href="#!" class="brand-logo">Logo</a>
</nav>
<nav class="navbar navbar-default grey darken-3" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Log out</a></li>

            <li class="right">
                <form>
                    <div class="input-field black">
                        <input id="search" type="search" required>
                        <label for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </li>
        </ul>
      
    </div>
</nav>